@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&display=swap');
*{
    font-family: 'Lato';
    font-size: 1.rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #011134,#255489);

}

    

    header {
        background-color: #96bdeb, #011134, #255489;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    body {
        background-image:linear-gradient(to bottom right,#011134,#255489) ;
    }
    
     header img {
         width: 12%;
    }
    
     .menu {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
    }
    nav:last-child {
        margin-left: auto;
    }
    
     .menu nav a {
           padding: 10px 10px;
           margin-right: 8px;
           color:#ddd
    }
    
    .btn {
       text-decoration: none;
       color: #333;
       padding: 10px;
    }
    
    .btn:hover {
       border-bottom: 2px solid #80b4f0;
}  
  

footer {
   background-color: #8aa8ca;
   color: #111010;
   height: 100px;
   width: 100%;
   text-align: center;
   margin-top: 50px;
}

footer > img {

    height: 52px;
    margin-top: 25px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #f2f2f2;
    width: 80%;
    max-width: 800vw;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    
    margin-top: 0;
}

h2 {
    
    margin-top: 0;
}

h3 {

    margin-top: 0;
}

p {
    
    line-height: 1.5;

}	

   